[Unit]
Description=uWSGI proto21_home server instance
After=syslog.target

[Service]
ExecStart=/usr/local/bin/uwsgi --ini-paste /root/webapps/p21Home/webapps/proto21_home/production.ini
# Requires systemd version 211 or newer
RuntimeDirectory=/root/webapps/p21Home/webapps/proto21_home/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target